body{font-family:Roboto,sans-serif;font-weight:300}
html,body{height:100%;background-color:#1a1b1e}
a,a:hover{color:#00171f;text-decoration:none}
.login h1{text-align:center;width:100%;margin:0 auto}
.login h1 a{background-image:none;text-decoration:none;text-indent:unset;background-size:unset;background-position:unset;background-repeat:unset;color:#FFF;height:auto;font-size:2.8rem;font-weight:300;width:100%}
.login #backtoblog a:hover,.login #nav a:hover,.login h1 a:hover{color:#fff;text-decoration:underline}
.login #backtoblog a,.login #nav a{text-decoration:underline;color:#fff}
.login #backtoblog,.privacy-policy-page-link,.grecaptcha-badge{display:none!important}
body{color:#1a1b1e}
a{color:#fff}
a:hover,a:active{color:#fff;text-decoration:underline}
a:focus{color:#fff;box-shadow:none}
#login{width:100%;text-align:center;margin:0 auto}
.login .message,.login .success,.login #login_error{border-left:4px solid #616161;width:320px;margin:20px auto}
.desc{margin-top:0;margin-bottom:1rem;padding:0 24px}
.login .button.button-secondary:focus{border-color:#fff;box-shadow:none}
.login #nav a,.login #backtoblog a{color:#616161;text-decoration:none}
.login #nav a:hover,.login #backtoblog a:hover,.login h1 a:hover{color:#fff;text-decoration:underline}
.login #nav a:focus,.login #backtoblog a:focus,.login h1 a:focus{color:#fff}
.login form{font-weight:300;box-shadow:none;width:320px;margin:20px auto 0}
.login label{text-align:left;width:100%}
#login form p.submit{text-align:center;margin:20px auto!important;padding-top:10px!important}
#login form p{margin-top:0;margin-bottom:1rem}
.form-control:focus{border-color:#616161;outline:0;box-shadow:none}
.login form .input,.login input[type=text],.login input[type=password]{font-size:1rem;width:257px;padding:8px;margin:2px 0 16px;border:0;border-radius:0}
.login form .forgetmenot{float:none}
.login form input[type=checkbox]{position:unset;left:unset;visibility:visible;border:0;border-radius:0}
.btn.btn-sm{margin:.375rem 0;padding:1rem 7rem;font-size:.8rem}
.login form{padding:26px 24px}
.login #nav{font-size:1rem;padding:24px;margin:0 0 1rem}
.login #login_error,.login .message,.login .success{background-color:#151618!important;box-shadow:none!important}
.login form{background:#151618!important;border:1px solid #c3c4c7;box-shadow:none!important}
p.forgetmenot label{width:50%}
.login .button.wp-hide-pw .dashicons{display:none}