* {
    -webkit-font-feature-settings: "liga" on, "calt" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: var(--wp--preset--font-family--jetbrains-mono);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--wp--preset--color--foreground) !important;
    background-color: var(--wp--preset--color--background) !important;
    font-size: var(--wp--preset--font-size--medium) !important;
}

body.admin-bar nav.fixed-top {
    top: 32px !important;
}

a {
    color: var(--wp--preset--color--foreground) !important;
}

#content a:not(.prev, .next) {
    color: var(--wp--preset--color--foreground) !important;
    box-shadow: inset 0 -0.3em 0 0 var(--wp--preset--color--links);
    text-decoration: none;
    transition: box-shadow .2s, color .2s;
}

#content a:not(.prev, .next):hover {
    color: var(--wp--preset--color--foreground) !important;
    box-shadow: inset 0 -1.15em 0 0 var(--wp--preset--color--links);
    text-decoration: none;
}

b, strong {
    font-weight: 900;
    font-size: 1.2em;
}

p {
    overflow-wrap: break-word;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-weight: 500;
    text-transform: uppercase;
}

h1 a {
    color: var(--wp--preset--color--foreground) !important;
    text-decoration: none;
}

h1 a:hover {
    color: var(--wp--preset--color--links) !important;
    text-decoration: underline;
}

h2 {
    font-variant: all-small-caps;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.navbar {
    border-bottom: 1px solid var(--wp--preset--color--dark-grey);
    background-color: var(--wp--preset--color--background);
    border-radius: 0 !important;
    box-shadow: none !important;
}

.navbar .dropdown-menu a, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 0.06em;
    color: var(--wp--preset--color--foreground) !important;
}

.navbar .dropdown-menu a:hover {
    color: var(--wp--preset--color--background) !important;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: var(--wp--preset--color--foreground);
}


.footer-copyright {
    border-top: 1px solid var(--wp--preset--color--dark-grey);
    background-color: var(--wp--preset--color--background) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 0.9rem;
}

main {
    margin-bottom: 130px;
}

main ul li {
    color: var(--wp--preset--color--foreground);
    list-style-type: square;
}

hr {
    margin: 1rem 0 !important;
    color: inherit !important;
    border: 0 !important;
    border-top: 1px solid !important;
    opacity: .25 !important;
}

.dark-grey-text {
    color: var(--wp--preset--color--grey) !important;
}

.small-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 8px;
    display: inline-block;
}

.dropdown .dropdown-menu {
    background-color: var(--wp--preset--color--background) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.bg-black {
    color: var(--wp--preset--color--foreground) !important;
    background-color: var(--wp--preset--color--background) !important;
}

.modal-backdrop {
    background-color: var(--wp--preset--color--background) !important;
}

.cursor {
    cursor: pointer;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--wp--preset--color--background) !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none !important;
}

.prev:hover, .next:hover {
    background-color: var(--wp--preset--color--background);
    color: var(--wp--preset--color--foreground) !important;
}

.next {
    right: 0;
}

#caption {
    background-color: var(--wp--preset--color--background);
    color: var(--wp--preset--color--foreground);
    text-align: center;
}

.modal-content {
    background-color: var(--wp--preset--color--background);
    color: var(--wp--preset--color--foreground);
}

.number-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-backdrop.show {
    opacity: 0.8;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .navbar.scrolling-navbar {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
}

.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}

#inlineFramePdf {
    border: none;
    min-height: 700px;
    height: 100%;
    width: 100%;
}

#inlineFrameImg {
    width: 100%;
}

.list-group-item {
    border-bottom: 1px solid var(--wp--preset--color--dark-grey) !important;
}

.modal-body {
    padding: 0 !important;
}

.form-control {
    border-radius: 0 !important;
}

.kb-club a {
    text-decoration: none;
    color: var(--wp--preset--color--background) !important;
    font-family: sans-serif;
    display: inline-block;
    padding: 6px 0;
    transition: .4s;
    border: 1px solid var(--wp--preset--color--foreground);
}

.kb-club-bg,
.kb-club-no-bg {
    padding: 10px 15px 9px 15px;
    display: inline;
}

.kb-club-no-bg {
    color: var(--wp--preset--color--foreground);
}

.kb-club-bg {
    background: var(--wp--preset--color--club);
    color: var(--wp--preset--color--background);
}

code {
    color: var(--wp--preset--color--code) !important;
}

.head-4 {
    color: var(--wp--preset--color--code) !important;
    padding: 2rem 0 1rem 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 0 !important;
}

body .is-layout-flex {
    align-items: start !important;
}

.wp-block-media-text__media img {
    width: auto !important;
}

.wp-block-media-text .wp-block-media-text__media {
    align-self: flex-start !important;
}

.wp-block-media-text__content {
    padding-right: 0 !important;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 0 !important;
    padding-right: 8% !important;
}

.wp-block-media-text.has-media-on-the-right {
    grid-template-columns: 1fr auto !important;
}

.wp-block-media-text:not(.has-media-on-the-right) {
    grid-template-columns: auto 1fr !important;
}

@media (max-width: 781px) {
    :where(body .is-layout-flow) > :first-child:first-child {
        padding-bottom: var(--wp--preset--spacing--50);
    }

    .wp-block-media-text__media img {
        padding-bottom: var(--wp--preset--spacing--50);
    }

    .wp-block-media-text .wp-block-media-text__content {
        padding-left: 0 !important;
    }
}

.wp-block-image figcaption {
    margin: 10px;
    color: var(--wp--preset--color--grey) !important;
}

summary {
    list-style: none;
    display: flex;
    padding: 10px 15px 10px 0;
}

summary::after {
    content: "\25B8";
    transition: 0.2s;
    margin-left: 15px;
}

details[open] > summary::after {
    transform: rotate(90deg);
    margin-top: 2px;
}

summary::-webkit-details-marker {
    display: none;
}