body {
    font-family: "JetBrains Mono", monospace !important;
    font-size: 1.3rem !important;
}

html, body {
    height: 100%;
    color: #E5E5E5 !important;
    background-color: #1A1B1E !important;
}

a {
    color: #64B5F6 !important;
}

.login h1 {
    text-align: center;
    width: 100%;
    margin: 0 auto
}

.login h1 a {
    background-image: none;
    text-decoration: none;
    text-indent: unset;
    background-size: unset;
    background-position: unset;
    background-repeat: unset;
    color: #FFFFFF;
    height: auto;
    font-size: 2.8rem;
    width: 100%;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
    color: #FFFFFF;
    text-decoration: underline
}

.login #backtoblog a, .login #nav a {
    text-decoration: underline;
    color: #FFFFFF
}

.login #backtoblog, .privacy-policy-page-link, .grecaptcha-badge {
    display: none !important
}

a:hover, a:active {
    text-decoration: underline
}

a:focus {
    box-shadow: none
}

#login {
    width: 500px;
    text-align: center;
    margin: 0 auto
}

.login .message, .login .success, .login #login_error {
    width: 320px;
    margin: 20px auto
}

.desc {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 24px
}

.login .button.button-secondary:focus {
    border-color: #FFFFFF;
    box-shadow: none
}

.login #nav a, .login #backtoblog a {
    color: #FFFFFF;
    text-decoration: none
}

.login #nav a:hover, .login #backtoblog a:hover, .login h1 a:hover {
    color: #FFFFFF;
    text-decoration: underline
}

.login #nav a:focus, .login #backtoblog a:focus, .login h1 a:focus {
    color: #FFFFFF
}

.login label {
    text-align: left;
    width: 100%;
    cursor: auto;
    font-size: 1rem
}

#login form p.submit {
    text-align: center;
    margin: 20px auto !important;
    padding-top: 10px !important
}

#login form p {
    margin-top: 0;
    margin-bottom: 1rem
}

.form-control:focus {
    border-color: #939292;
    outline: 0;
    box-shadow: none
}

.login form .input, .login input[type=text], .login input[type=password] {
    font-size: 1rem;
    padding: 8px;
    margin: 2px 0 16px;
    border: 0;
    border-radius: 0
}

.login form .forgetmenot {
    float: none
}

.login form input[type=checkbox] {
    position: unset;
    left: unset;
    visibility: visible;
    border: 0;
    border-radius: 0
}

.btn {
    padding: 0.6rem 4rem !important
}

.login #nav {
    font-size: 1rem;
    padding: 24px;
    margin: 0 0 1rem
}

.login #login_error, .login .message, .login .success {
    background-color: #151618 !important;
    box-shadow: none !important
}

.login form {
    background: #1A1B1E !important;
    border: none;
    box-shadow: none !important;
}

p.forgetmenot label {
    width: 50%
}

.login .button.wp-hide-pw .dashicons {
    display: none
}